#logo{
    padding-right: 35%;
    margin-left: 30%;

}

ul{
	padding-top: 1%;
	margin-left: 1%;
	
}
div{
	font-family: 'Oxygen', sans-serif;
	padding-top: -5%;



	text-align: center;

}

.error {
	border-color:red;
}

.success {
	border-color: #ccc;
}
span{
	width: 1px;
}
#lixeira{
	cursor:pointer;
}


.main-login{

	margin-top: 0px;
	margin: 0 auto;
    max-width: 500px;
 	
}
.form-group {
    margin-bottom: 2px;
}
.btn{
	margin-top: 3%;
}

label{
	    margin-bottom: 0px;
}

#msg-user-alert{
	display: none;
}
#msg-user-alert{
	display: none;
}
.main-cadastraProduto{
	margin: 0 auto;
	max-width: 1000px;

}
#buscar{
	margin-top: 21px;

}
fieldset{
	margin-left: -5%;
	margin-right: -5%;
}
.cliente{
	margin-bottom: 1%;
}
#itensProduto{
	margin-top: -1%;
}

#cadastraCliente{
	margin-top: 3%;
}
